<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="primary">OLF EXPRESS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/img/express.jpeg" width="400" height="200">

      <ion-button expand="full" routerLink="/login">Iniciar Sesión</ion-button>
      <br>
      <h2 class="Sans Serif">¿Estás Registrado?</h2>
      <br>
      <h2 class="Sans Serif"></h2>
      <ion-button expand="full" routerLInk="/registro">Registrate con nosotros</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
