<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Primer nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Nombre de usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Contraseña"></ion-input>
  </ion-item>

  <ion-button expand="full" routerLink="/logeado">Registrar</ion-button>

</ion-content>
